@font-face {
    font-family: 'KhmerOSBattambang';
    src: url('../fonts/Khmer\ OS\ Battambang\ Regular.ttf') format('truetype');
    font-weight: normal;
}


@mixin fontKhmerOSBattambang() {
    font-family: 'KhmerOSBattambang', sans-serif !important;
}

body {
    @include fontKhmerOSBattambang();
    color: var(--text);
    background: var(--bg);
}